@charset "UTF-8";

// Fonts
@font-face {
  font-family: 'gotham-narrow-book';
  src: url('./fonts/GothamNarrow-Book.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/GothamNarrow-Book.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/GothamNarrow-Book.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('./fonts/GothamNarrow-Book.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/GothamNarrow-Book.otf')
      format('opentype');
}

@font-face {
  font-family: 'gotham-narrow-medium';
  src: url('./fonts/GothamNarrow-Medium.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/GothamNarrow-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/GothamNarrow-Medium.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('./fonts/GothamNarrow-Medium.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/GothamNarrow-Medium.otf')
      format('opentype');
}

@font-face {
  font-family: 'Glypha-Bold';
  src: url('./fonts/Glypha-Bold.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/Glypha-Bold.woff2') format('woff2'),
    url('./fonts/Glypha-Bold.woff') format('woff'),
    url('./fonts/Glypha-Bold.ttf') format('truetype'),
    url('./fonts/Glypha-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Glypha-Roman';
  src: url('./fonts/Glypha-55-Roman.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/Glypha-55-Roman.woff2') format('woff2'),
    url('./fonts/Glypha-55-Roman.woff') format('woff'),
    url('./fonts/Glypha-55-Roman.ttf') format('truetype'),
    url('./fonts/Glypha-55-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'univers-45-light';
  src: url('./fonts/Univers-Light.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/Univers-Light.woff2') format('woff2'),
    url('./fonts/Univers-Light.woff') format('woff'),
    url('./fonts/Univers-Light.ttf') format('truetype'),
    url('./fonts/Univers-Light.otf') format('opentype');
}

@font-face {
  font-family: 'univers-55-roman';
  src: url('./fonts/UniversLTStd.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/UniversLTStd.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/UniversLTStd.woff') format('woff'),
    /* Pretty Modern Browsers */ url('./fonts/UniversLTStd.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/UniversLTStd.otf')
      format('opentype');
}

@import './abstracts/variables';

// Custom Variables
@import './abstracts/functions';
@import './abstracts/mixins';

// Icon fonts
// Custom CSS
@import './base/base';
@import './base/animations';
@import './base/typography';
@import './base/utilities';

// Import the components here

@import './components//atoms//button';
