// COLORS

$color-primary: #ffd600;
$color-primary-light: #fff;
$color-secondary: #5e5e5d;
$color-secondary-light: #c6c6c5;
$color-secondary-dark: #1c1c1b;
$color-tertiary-dark: #1e3048;
$color-tertiary: #0075a1;
$color-sorted: #e5f0f4;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
